<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru">
<!--<![endif]-->
<% include head.ejs%>

<body>
<% include jsdefault.ejs%>
<% include header.ejs%>
<div class="container">
    <div class="col-md-8">
        <div class="content-text">
            <div class="blog_item">
                <div class="row">
                    <div class="col-md-12">
                        <h3><a href="#">Aloha This tex from Page About</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>