<header class="top_header">
    <div class="header_topline">
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <button class="auth_buttons hidden-md hidden-lg hidden-sm"><i class="fa fa-user"></i></button>
                    <div class="top_links">
                        <a href="#" >Вход</a> /
                        <a href="#" >Регистрация</a>
                    </div>
                    <div class="soc_buttons">
                        <a href="#" ><i class="fa fa-vk"></i></a>
                        <a href="#" ><i class="fa fa-facebook-square"></i></a>
                        <a href="#" ><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <a href="#" class="logo">WindSurf Aloha</a>
                <nav class="maian_mnu clearfix">
                    <button class="main_mnu_button hidden-md hidden-lg"><i class="fa fa-bars"></i></button>
                    <ul>
                        <li class="active"><a href="/" >Главная</a></li>
                        <li><a href="#" >Новичкам</a></li>
                        <li><a href="#" >Погода</a></li>
                        <li><a href="#" >Форум</a></li>
                        <li><a href="about" >Об мне</a></li>
                    </ul>
                    <div class="top_contacts"><i class="fa fa-mobile"></i> 8-915-278-52-07</div>
                </nav>
                <h1>ВиндСерф клуб "Aloha"</h1>
                <div class="slider_container">
                    <div class="next_button"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    <div class="prev_button"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                    <div class="carousel">
                        <div class="slide_item"><img src="./image/surf1.jpg" alt=""></div>
                        <div class="slide_item"><img src="./image/surf2.jpg" alt=""></div>
                        <div class="slide_item"><img src="./image/surf3.jpg" alt=""></div>
                        <div class="slide_item"><img src="./image/surf4.jpg" alt=""></div>
                        <div class="slide_item"><img src="./image/surf5.jpg" alt=""></div>
                    </div>
                </div>
            </div>
            <div>
            </div>
</header>

<section class="order">
    <div class="container">
        <div class="row">
            <div class="col-md6">
            </div>
            <!--<div class="col-md-6">-->
            <!--<div class="sell_descr">-->
            <!--Что та надо бы здесь написать-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-6">-->
            <!--<div class="sell_right">-->
            <!--<button class="button">Кнопка</button>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</section>
