<section class="main_content">
    <div class="container">
        <div class="col-md-8">
            <div class="content-text">
                <div class="blog_item">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><a href="#">Заголовок</a></h3>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <img src="./image/surf4.jpg" alt=""></a>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quos fugit laboriosam id asperiores, quasi, doloremque soluta ducimus dolore est sit illum fugiat iure illo possimus laudantium sint, ab aliquam?</p>
                            <p>Ipsam voluptas, provident dolore repellendus beatae sint, quod omnis labore culpa magnam consequatur fugit porro tenetur corporis, voluptates minima illum! Iusto cum culpa, minima molestias cumque ad obcaecati, dolor et.</p>
                        </div>
                    </div>
                </div>
                <div class="blog_item">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><a href="#">Заголовок</a></h3>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <img src="./image/surf5.jpg" alt=""></a>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quos fugit laboriosam id asperiores, quasi, doloremque soluta ducimus dolore est sit illum fugiat iure illo possimus laudantium sint, ab aliquam?</p>
                            <p>Ipsam voluptas, provident dolore repellendus beatae sint, quod omnis labore culpa magnam consequatur fugit porro tenetur corporis, voluptates minima illum! Iusto cum culpa, minima molestias cumque ad obcaecati, dolor et.</p>
                        </div>
                    </div>
                </div>
                <div class="blog_item">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><a href="#">Заголовок</a></h3>
                        </div>
                        <div class="col-md-4">
                            <a href="#">
                                <img src="./image/surf3.jpg" alt=""></a>
                        </div>
                        <div class="col-md-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam quos fugit laboriosam id asperiores, quasi, doloremque soluta ducimus dolore est sit illum fugiat iure illo possimus laudantium sint, ab aliquam?</p>
                            <p>Ipsam voluptas, provident dolore repellendus beatae sint, quod omnis labore culpa magnam consequatur fugit porro tenetur corporis, voluptates minima illum! Iusto cum culpa, minima molestias cumque ad obcaecati, dolor et.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <side class="right_aside">
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit.</a></li>
                    <li><a href="#">Voluptatum facere sed fugiat!</a></li>
                    <li><a href="#">Optio id officiis, eaque!</a></li>
                    <li><a href="#">Incidunt eum, impedit quae.</a></li>
                    <li><a href="#">Numquam sequi suscipit, laborum!</a></li>
                    <li><a href="#">Ab inventore voluptatibus tempore.</a></li>
                    <li><a href="#">Ullam cum vel, ratione!</a></li>
                    <li><a href="#">Illum nihil ipsa, iste!</a></li>
                    <li><a href="#">Ea atque temporibus odio.</a></li>
                    <li><a href="#">Autem esse a aspernatur.</a></li>
                </ul>
            </side>
        </div>
    </div>
</section>